.login-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: #f0f2f5; 
  border-radius: 12px;
}

.login-form h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
}

.btn-login {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: opacity 0.2s;
}

.btn-login:hover {
  opacity: 0.9;
}

.links-auxiliares {
  margin-top: 25px;
  text-align: center;
}

.links-auxiliares a {
  display: block; /* Deixa um link em cima do outro */
  color: var(--cor-principal);
  text-decoration: none;
  margin-top: 10px;
}

.links-auxiliares a:hover {
  text-decoration: underline;
}

.main-footer {
    margin-bottom: 0%;
}